$height-navbar: 8rem;
$height-navbar-respon: 5rem;
$white-color: #fff;
$cod-gray: #111;
$cloud: #ccc8c6;
$supernova: #fccb05;
$blaze-orange: #f96400;
$pomegranate: #ea4913;
$science-blue: #0565bb;
$mariner: #245fc5;
$diesel: #020001;
$mine-shaft: #222;
$dove-gray: #666;
$diesel: #020001;
$sunglow: #fcd32a;
$acadia: #110e03;
$international-orange: #f50;
$wild-sand: #f4f4f4;
$silver-chalice: #a9a9a9;
