.main__banner {
  height: calc(100vh - #{$height-navbar});
  background-color: $pomegranate;
  background-image: url("../../images/main-banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1280px) {
  }

  @media (max-width: 1140px) {
  }

  @media (max-width: 1024px) {
    height: 50vh;
  }

  @media (max-width: 991px) {
  }

  @media (max-width: 540px) {
    height: 40vh;
  }

  @media (max-width: 380px) {
    height: 30vh;
  }
}
