.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $cod-gray;
  height: $height-navbar;
  z-index: 1000;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9rem;

    > .nav__link {
      display: block;
      > .logo {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    > .main__menu {
      display: flex;
      align-items: center;

      > button {
        border: none;
        background-color: transparent;
        padding: 0;
        outline: none;
        cursor: pointer;
        display: none;

        svg {
          font-size: 2.5rem;
          color: $white-color;
        }
      }

      .menu__left {
        display: flex;
        align-items: center;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 1px;
          background-color: $cloud;
          transform: translateX(50%);
        }

        > a {
          font-size: 1.4rem;
          text-transform: uppercase;
          color: $white-color;
          padding-right: 7.6rem;
          text-decoration: none;

          &:hover {
            color: $cloud;
          }
        }
      }

      .menu__right {
        display: flex;
        align-items: center;

        > a {
          font-size: 1.4rem;
          padding-left: 7.6rem;
          text-transform: uppercase;
          color: $white-color;
          text-decoration: none;

          &:hover {
            color: $cloud;
          }
        }
      }
    }
  }

  @media (max-width: 1280px) {
    &__content {
      padding: 0 5rem;

      > .main__menu {
        .menu__left > a {
          padding-right: 5rem;
        }

        .menu__right > a {
          padding-left: 5rem;
        }
      }
    }
  }

  @media (max-width: 1140px) {
    &__content {
      padding: 0 5rem;

      > .nav__link {
        > .logo {
          width: 70%;
        }
      }

      > .main__menu {
        .menu__left > a {
          padding-right: 3rem;
        }

        .menu__right > a {
          padding-left: 3rem;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__content {
      padding: 0 5rem;

      > .nav__link {
        > .logo {
          width: 70%;
        }
      }

      > .main__menu {
        .menu__left > a {
          font-size: 1.2rem;
          padding-right: 3rem;
        }

        .menu__right > a {
          font-size: 1.2rem;
          padding-left: 3rem;
        }
      }
    }
  }

  @media (max-width: 991px) {
    &__content {
      padding: 0 4rem;

      > .nav__link {
        > .logo {
          width: 60%;
        }
      }

      > .main__menu {
        > button {
          display: block;
        }

        .menu__left,
        .menu__right {
          display: none;
        }
      }
    }
  }

  @media (max-width: 540px) {
    height: $height-navbar-respon;
    &__content {
      padding: 0 2rem;
    }
  }
}
